*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.toc
chapter/web
_minted
_minted-*
prompt
figure/bak
目次案.txt
affinity
.DS_Store
code
preface.tex
figure/__material
figure/__bak
chapter/__bak
